body {
    background-color: #F0F2F5;
    margin: 0;
    padding: 0;
}

a, a:link, a:active, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;

    .principal {
        width: 1050px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bem_vindo {
            width: 500px;

            .logo {
                position: relative;
                left: -27px;
            }

            .texto {
                margin-top: -15px;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 28px;
                text-align: left;
            }
        }

        .container_acao {
            .login {
                width: 480px;
                background-color: white;
                border-radius: 7px;
                box-shadow: rgba(0,0,0,0.30) 0px 1px 5px 0px;
                display: flex;
                justify-items: center;
                align-content: center;

                form {
                    width: 450px;
                    padding: 0;
                    margin: 13px;
                }

                input {
                    background-color: white;
                    height: 53px;
                    width: 100%;
                    border: none;
                    box-shadow: rgba(0,0,0,0.30) 0px 1px 5px 0px;
                    margin: 8px 0px;
                    border-radius: 7px;
                    box-sizing: border-box;
                    padding-left: 7px;
                    padding-right: 7px;
                    outline: none;
                    color: black;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 17px;
                }

                input:focus {
                    box-shadow: inset 0px 0px 0px 1px #1877F2, 0px 0px 0px 2px #1876f220;
                    color: #1877F2;
                }

                .logar {
                    background: #1877F2;
                    width: 100%;
                    height: 53px;
                    color: white;
                    border-radius: 7px;
                    border: none;
                    outline: none;
                    margin: 4px 0px;
                    font-weight: bold;
                    font-size: 20px;
                    cursor: pointer;
                }

                .esqueceu_senha {
                    color: #1877F2;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 15px;
                    text-align: center;
                    padding: 10px 0px;
                }

                .esqueceu_senha:hover {
                    text-decoration: underline;
                }

                .criar_conta {
                    background: #42B72A;
                    height: 53px;
                    color: white;
                    border-radius: 7px;
                    border: none;
                    outline: none;
                    margin: 8px 0px;
                    font-weight: bold;
                    font-size: 18px;
                    padding: 0px 20px;
                    cursor: pointer;
                }
            }

            .pagina {
                font-family: Helvetica, Arial, sans-serif;
                font-size: 14px;
                text-align: center;
                padding: 15px 0px;
            
                a {
                    font-weight: bold;
                }
    
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.rodape {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;

    &_conteudo {
        width: 985px;
        position: relative;
        top: 0;

        &_lista {
            width: 100vh;
            color:rgba(0,0,0,0.50);


            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 11px;
                font-family: Helvetica, Arial, sans-serif;

                li {
                    color: #8a8d91;
                    width: auto;
                    float: left;
                    padding: 5px 10px;
                }

                li:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            button {
                height: 20px;
                cursor: pointer;
                margin-left: 3px;
            }
        }
    }
}